body{
    background-color: rgba(222, 18, 18, 0.603);
    padding: 0%;
    margin: 0%;
    
}
header{
    width: 100%;
    position: sticky;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(255, 255, 255);
    display: inline-block;
}
section{
    display: flex;
    margin-top: 1px;
    
}

article{
    
    border: 3px solid black ;
    margin: 1%;
    border-radius: 25px;
    
}

.imag1{
    display: block;
    width: 90%;
    margin: auto;
    border-radius: 20px;
}

h2{
    position: relative;
    text-align: center;
    
}
@media (width < 900px) {
    section{
        flex-wrap: wrap;
        margin-top: 1px;
        
    }
    article{
        max-width: 45%;
        border: 2px solid black ;
        margin: 1%;
        
    }
  }

  @media (width < 600px) {
    section{
        flex-wrap: wrap;
        
        
    }
    article{
        max-width: 95%;
        min-width: 60%;
        border: 1px solid black ;
        
        
    }
  }